
.logoimage{
  width: 120px !important;
}
.banner {
  background: url("https://images.unsplash.com/photo-1515110371136-7e393289662c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1356&q=80") center center;
  height: 60vh;
  position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding: 72px;
    width: 320px;
}

.banner__info h3 {
  background-color: black;
  color: red;
 
  width: 320px;
}

.container_loginForm{
  margin-top: 32px;
}

a {
  text-decoration: none !important;
}
.product-box {
  color: unset;

}

.sidenav {
  height: 50vh;
  background-color: #000;
}

.login-main-text{
  color: #fff;
  padding: 16px;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff !important;
}



.product-title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #696a86;
}

.product-caption {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.badge {
  font-size: 16px !important;
  font-weight: 200;
  color: #fff;
  background: #8254ff;
  padding: 8px 8px;
  border-radius: 4px;
  margin-bottom: 16px !important;
}


.product-rating {
  font-size: 16px;
}

.product-rating i.grey {
  color: #acacab;
}

.card-logo {
  width: 64px;

}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

h1{
  color: #696a86;
  font-weight: 900;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 24px;
}

.login-form-col{
  background: greyscale;
}

.productcard .card:hover {
  transform: scale(1.07);
}

.card-img-top {
  object-fit: cover;
  max-height: 240px;
}
card{
  border: 1px solid #696a86;
  box-shadow: 0px 1px 1px 0px #696a86;
  background: #f9f9f9;
}


.search {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 40px;
  margin: auto;
  border: 1px solid #696a86;
  box-shadow: 0px 1px 1px 0px #696a86;
  background: #f9f9f9;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 16px;
  text-align: center;
}

.container-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}
.container-heading h3 {
  font-size: 32px;
  letter-spacing: -0.15rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 20px;
  color: #333;
  letter-spacing: 8px;
}
.container-heading p {
  color: #696a86;
  font-size: 16px;
  text-align: center;
  font-family: "karla", sans-serif;
}



 .card h2 {
  font-size: 1rem !important;
  font-weight: 500 !important;
}
.detail-container{
  margin-top: 32px;
}
.detail-container h2 {
  font-size: 2rem !important;
  font-weight: 500 !important;
  letter-spacing: 4px;
  
}
.style{
  letter-spacing: 4px;
  
}

.detail-container p {
  margin-top: 8px;
  
}

  p {
  font-size: .8rem;
  font-weight: 400;
  color: rgba(32, 41, 28, .8);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.commercial {
  justify-content: center;
  padding: 16px;
  display: flex;
}

.commercial_text1 {
  font: 12px !important;
  color: #222;
  width: 100%;
}
.commercial_text2 {
  display: inline-block;
  font: 1em/1em "karla", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 0.3em 10px;
  background: #333;
  vertical-align: top;
}
.tex-uppercase  {
  padding: 1rem;
}
.fa-heart {
   font-size: 2rem;
    font-weight: bold;
}

#reviews {
  margin-left: 8px;
}
.checked {
  color: rgb(255, 217, 0);
}

.cart .card{
  margin-bottom: 16px;
}

.detail{
  margin-top: 24px;
}


