.logoimage{
  width: 160px !important;
}
.container_loginForm{
  margin-top: 32px;
}


.sidenav {
  height: 50vh;
  background-color: #000;
}

.login-main-text{
  color: #fff;
  padding: 16px;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff !important;
  margin-top: 16px;
}

